body {
  font-family: Arial, sans-serif;
  color: rgb(241, 241, 241);
  background-color: rgb(33, 33, 33);
}

.file-container {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;

  outline-width: 0;
  transition: 1s, all;
}

.file-container:hover {
  outline-style: solid;
  outline-width: 2px;
  outline-color: rgba(179, 179, 179, 0.895);
}

.file {
  color: rgb(222, 222, 222);
  cursor: pointer;
  text-decoration: none;  
  margin: 10px;
  width: fit-content;
  height: fit-content;
}

.file:hover {
  color: white;
  cursor: pointer;
}

.icon {
  width: 2vw;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0;
  vertical-align: middle;
}

.button {
  cursor: pointer;
  color: #fff;
  border-style: none;
  background-color: #c1234f;

  border-radius: 20px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  display: inline-block;
  vertical-align: middle;
  width: fit-content;

  transition: all, 0.30s;
}

.button:hover {
  border-color: #912a47;
  background-color: #7f2f46;
  transition: all, 0.30s;
}

.compute-time {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  text-align: right;
  border-radius: 10px;
  background-color: rgba(117, 117, 117, 0.349);
  color: rgb(145, 145, 145);
}